---
import '@fontsource/fira-code';
import "../styles/global.css";
import Search from '../components/Search.astro';
import ThemeToggle from '../components/ThemeToggle.astro';

const { title = "Home" } = Astro.props;

const menuLinks = [
  { path: "/", title: "Home" },
  { path: "/about", title: "About" },
  { path: "/posts", title: "Posts" },
  { path: "/Status", title: "Status" },
];

const year = new Date().getFullYear();
---
<html lang="ja" class="scroll-smooth">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title} • ykts.net</title>
    <link rel="icon" href="data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'><path d='M22 12a1 1 0 0 1-10 0a1 1 0 0 0-10 0' stroke='%235de4c7'/><path d='M7 20.7a1 1 0 1 1 5-8.7a1 1 0 1 0 5-8.6' stroke='%23d482ab'/><path d='M7 3.3a1 1 0 1 1 5 8.6a1 1 0 1 0 5-8.6' stroke='%2389ddff'/><circle cx='12' cy='12' r='2' stroke='%23cdffb8'/></svg>" type="image/svg+xml" />
    <script is:inline>
      const theme = (() => {
        if (typeof localStorage !== 'undefined' && localStorage.getItem('theme')) {
          return localStorage.getItem('theme');
        }
        if (window.matchMedia('(prefers-color-scheme: dark)').matches) {
          return 'dark';
        }
        return 'light';
      })();
      if (theme === 'light') {
        document.documentElement.classList.remove('dark');
      } else {
        document.documentElement.classList.add('dark');
      }
    </script>
    <style is:inline>
      .site-logo-icon {
        width: 1.5rem;
        height: 2.5rem;
      }
      @media (min-width: 640px) {
        .site-logo-icon {
          width: 3rem;
          height: 5rem;
        }
      }
    </style>
  </head>
  
<body class="bg-zinc-50 text-zinc-900 dark:bg-[#1b1e28] dark:text-[#e4f0fb] mx-auto flex min-h-screen max-w-3xl flex-col px-4 pt-16 font-mono text-sm font-normal antialiased sm:px-8 transition-colors duration-300">
    
    <header class="group relative mb-28 flex items-center sm:ps-[4.5rem]" id="main-header">
      <div class="relative flex sm:flex-col">
        <a
          aria-current={Astro.url.pathname === "/" ? "page" : false}
          class="inline-flex items-center"
          href="/"
        >
          <svg
            aria-hidden="true"
            class="site-logo-icon hidden sm:block sm:absolute sm:-start-[4.5rem] sm:top-1/2 sm:-translate-y-1/2 sm:grayscale sm:hover:filter-none sm:transition-[filter]"
            fill="none"
            focusable="false"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            viewBox="0 0 24 24"
            xmlns="http://www.w3.org/2000/svg"
          >
            <title>Site Logo</title>
            <path d="M22 12a1 1 0 0 1-10 0a1 1 0 0 0-10 0" stroke="#5de4c7" />
            <path d="M7 20.7a1 1 0 1 1 5-8.7a1 1 0 1 0 5-8.6" stroke="#d482ab" />
            <path d="M7 3.3a1 1 0 1 1 5 8.6a1 1 0 1 0 5 8.6" stroke="#89ddff" />
            <circle cx="12" cy="12" r="2" stroke="#cdffb8" />
          </svg>

          <svg
            aria-hidden="true"
            class="site-logo-icon me-3 sm:hidden"
            fill="none"
            focusable="false"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            viewBox="0 0 24 24"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path d="M22 12a1 1 0 0 1-10 0a1 1 0 0 0-10 0" stroke="#5de4c7" />
            <path d="M7 20.7a1 1 0 1 1 5-8.7a1 1 0 1 0 5-8.6" stroke="#d482ab" />
            <path d="M7 3.3a1 1 0 1 1 5 8.6a1 1 0 1 0 5 8.6" stroke="#89ddff" />
            <circle cx="12" cy="12" r="2" stroke="#cdffb8" />
          </svg>
          <span class="text-xl font-bold sm:text-2xl text-zinc-900 dark:text-[#e4f0fb]">Katsuhiro Yamakawa</span>
        </a>
        <nav
          aria-label="Main menu"
          class="bg-zinc-50 dark:bg-[#1b1e28] absolute -inset-x-4 top-14 hidden flex-col divide-y px-2 py-4 group-[.menu-open]:z-50 group-[.menu-open]:flex sm:static sm:z-auto sm:-ms-4 sm:mt-1 sm:flex sm:flex-row sm:divide-x sm:divide-y-0 sm:divide-[#d0679d] dark:sm:divide-[#5de4c7] sm:bg-transparent sm:p-0"
          id="navigation-menu"
        >
          {menuLinks.map((link) => (
            <a
              aria-current={Astro.url.pathname === link.path ? "page" : false}
              class="text-[#d0679d] dark:text-[#5de4c7] px-2 py-4 font-semibold sm:px-4 sm:py-0 sm:underline-offset-2 sm:hover:underline"
              href={link.path}
            >
              {link.title}
            </a>
          ))}
        </nav>
      </div>
      <Search />
      <ThemeToggle />
      <mobile-button>
        <button
          aria-expanded="false"
          aria-haspopup="menu"
          class="group relative ms-4 h-7 w-7 sm:invisible sm:hidden"
          id="toggle-navigation-menu"
          type="button"
        >
          <span class="sr-only">Open main menu</span>
          <svg
            aria-hidden="true"
            class="absolute start-1/2 top-1/2 h-full w-full -translate-x-1/2 -translate-y-1/2 transition-all group-aria-expanded:scale-0 group-aria-expanded:opacity-0"
            fill="none"
            focusable="false"
            stroke="currentColor"
            stroke-width="1.5"
            viewBox="0 0 24 24"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path d="M3.75 9h16.5m-16.5 6.75h16.5" stroke-linecap="round" stroke-linejoin="round"></path>
          </svg>
          <svg
            aria-hidden="true"
            class="text-[#d0679d] dark:text-[#5de4c7] absolute start-1/2 top-1/2 h-full w-full -translate-x-1/2 -translate-y-1/2 scale-0 opacity-0 transition-all group-aria-expanded:scale-100 group-aria-expanded:opacity-100"
            fill="none"
            focusable="false"
            stroke="currentColor"
            stroke-width="1.5"
            viewBox="0 0 24 24"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path d="M6 18L18 6M6 6l12 12" stroke-linecap="round" stroke-linejoin="round"></path>
          </svg>
        </button>
      </mobile-button>
    </header>

    <main id="main" class="flex-1">
      <slot />
    </main>

    <footer
      class="mt-auto flex w-full flex-col items-center justify-center gap-y-2 pt-20 pb-4 text-center align-top font-semibold text-zinc-500 dark:text-[#a6accd]/50 sm:flex-row sm:justify-between sm:text-xs"
    >
      <div class="me-0 sm:me-4">
        &copy; Katsuhiro Yamakawa {year}.<span class="inline-block">&nbsp;🚀&nbsp;ykts.net</span>
      </div>
      <nav
        aria-labelledby="footer_links"
        class="flex gap-x-2 sm:gap-x-0 sm:divide-x sm:divide-zinc-400 dark:sm:divide-[#a6accd]/30"
      >
        <p id="footer_links" class="sr-only">More on this site</p>
        {menuLinks.map((link) => (
          <a
            class="px-4 py-2 hover:text-zinc-900 dark:hover:text-[#e4f0fb] hover:underline sm:py-0"
            href={link.path}
          >
            {link.title}
          </a>
        ))}
      </nav>
    </footer>

    <script>
      class MobileNavBtn extends HTMLElement {
        #menuOpen: boolean = false;

        connectedCallback() {
          const headerEl = document.getElementById("main-header")!;
          const mobileButtonEl = this.querySelector<HTMLButtonElement>("button");

          mobileButtonEl?.addEventListener("click", () => {
            if (headerEl) headerEl.classList.toggle("menu-open");
            this.#menuOpen = !this.#menuOpen;
            mobileButtonEl.setAttribute("aria-expanded", this.#menuOpen.toString());
          });
        }
      }

      customElements.define("mobile-button", MobileNavBtn);
    </script>
  </body>
</html>
